/*============== Root ===============*/
:root {
    --shadowColor: rgba(0, 0, 0, .3);
    --lightBlack: #677074;
    --primary-btn: #1dbf73;
    --primary-btn-hover: #3fca89;
    --bg-light: #f5f5f5;
    --text-light: #686868;
    --borderColor: #c5c6c9;
    --grayText: #404145;
    --qst-btn-color: #4a73e8;
    --btnPurple: #593cfb;
    --primary-text-color: #593cfb;
    --primary-text-colorHover: #735cf6;
}

.navbar-brand {
    font-weight: 700;
}

header,
.breadcrumb {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.breadcrumbs-area,
header .navbar-collapse ul li a {
    font-weight: 500;
}

.btn_outline_green {
    background-color: var(--primary-btn);
    color: #fff;
}

.btn_outline_green:hover {
    background-color: var(--primary-btn-hover);
    color: #fff;
}

/*================= Global CSS ============*/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.btn-green-sm:hover {
    background: var(--primary-btn-hover);
    color: #fff;
}

.btn-green {
    padding: 12px 25px;
    color: #fff;
    font-weight: 600;
    background-color: var(--primary-btn);
    margin: 0;
}

.btn-green:hover {
    color: #fff;
    background-color: var(--primary-btn-hover);
}

#address-requirements ul {
    margin-top: 0;
    margin-bottom: 1rem;
    margin: 0;
    padding: 0;
}

.btn-Purple {
    background: var(--btnPurple);
    font-weight: 700;
    color: #fff;
    border-radius: 0;
}

.btn-Purple:hover {
    background: #6c52fe;
    color: #fff;
}

.text-perple {
    color: #6c52fe;
    font-weight: 700;
}

.btn-outline-green {
    border: 2px solid var(--primary-btn);
    color: var(--primary-btn);
    font-weight: 500;
}

.btn-outline-green:hover {
    background: var(--primary-btn);
    color: #fff;
}

.btn-next {
    background-color: var(--primary-btn);
    color: #fff;
    border-radius: 15px;
    padding: 8px 15px;
}

.text-purple {
    color: var(--primary-text-color);
}

.text-purple:hover {
    color: var(--primary-text-colorHover);
}

.bg-light-gray {
    background-color: var(--bg-light);
}


.btn-gray {
    padding: 12px 25px;
    font-weight: 600;
    border: 1px solid var(--grayText);
}

.text-green {
    color: var(--primary-btn) !important;
}

li {
    list-style-type: none;
    display: inline-block;
}


/* Animated Radial Circle */


svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
}

svg.radial-progress circle {
    fill: rgba(0, 0, 0, 0);
    stroke: #593cfb;
    stroke-dashoffset: 219.91148575129;
    stroke-width: 5;
}

svg.radial-progress circle.incomplete {
    opacity: 0.25;
}

svg.radial-progress circle.complete {
    stroke-dasharray: 219.91148575129;
}

svg.radial-progress text {
    fill: #231f20;
    text-anchor: middle;
}

.progress-bar-title h6 {
    padding: 15px 0 0 0;
    font-weight: 700;
    font-size: 20px;
}

.progress-bar-title p {
    font-weight: normal;
    margin: 8px 0;
    line-height: 1.3;
}


.progress-bar-title .col-md-11 {
    line-height: 1.4;
}

#progress .progress-item {
    box-shadow: 0 0 0 1px #d7d7d7;
    margin-left: 2px;
    margin-top: 20px;
    border-radius: 3px;
}


#progress .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
}

/*============ Breadcrumb ===========*/


.breadcrumbs-area {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.breadcrumbs {
    padding: 15px 0 0 0;
    font-family: sans-serif;
}

.breadcrumb__item {
    display: inline-block;
}

.breadcrumb__item:not(:last-of-type)::after {
    content: ">";
    margin: 0 5px;
    color: #ccc;
}


.breadcrumb__link {
    text-decoration: none;
    color: #9597b6;
    font-weight: 500;

}

.breadcrumb__link:hover {
    color: #6e708b;

}

.breadcrumb__link span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1dbf73;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
}

.breadcrumb__link__active {
    color: #000000;
    font-weight: 700;
}


/*============ Text Box ===========*/

.text-box {
    background: #efeff049;
    padding: 20px 30px;
    box-shadow: 0 0 0 1px var(--shadowColor);
    font-weight: 500;
}

.text-box p {
    padding: 0;
    margin: 0;
    line-height: 1.3;
}

.img-box img,
.img-box video {
    width: 200px;
    border: 3px dashed var(--shadowColor);
    height: 200px;
}


.img-box input {
    display: none;
}

.img-box .image {
    position: relative;
}

.img-box a {
    color: #fff;
}

.img-box .image .img-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--lightBlack);
    display: flex;
    align-items: center;
    justify-content: center;

}

#video-view-one,
#image-view-one,
#image-view-two,
#image-view-three {
    opacity: 0.8;
}

.img-box .img-caption p span {
    font-size: 700;
    font-size: 17px;
    color: blue;
}


.img-box label {
    margin: 10px;
}

.img-box label:first-child {
    margin: 0;
}

.img-box-title p,
.video-box-title p {
    font-size: 13px;
    color: var(--lightBlack);
}


.trms-para {
    color: var(--lightBlack);
    line-height: 1.5;
}

.img-box .default__controls,
.img-box .default__button--big {
    display: none !important;
    box-shadow: none;
}

.sub-btn a {
    color: rgba(0, 17, 255, 0.658);
    font-weight: 600;
}

/*========= Requirements ============*/

.cart-title {
    text-transform: capitalize;
}

.cart-title p {
    font-size: 12px;
    font-weight: 500;
    color: var(--lightBlack);
    padding: 8px 0 30px;
}

.cart-title h5 {
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0 0;
}

.bg_light_dark {
    background: var(--bg-light);
    box-shadow: 0 0 0 1px var(--borderColor);
}

.card-text {
    color: var(--grayText);
}

.qst-btn {
    margin-top: 20px;
    color: var(--qst-btn-color);
    border: 1px solid var(--qst-btn-color);
    font-weight: 500;
    padding: 12px 20px;
}

.qst-btn:hover {
    color: #fff;
    border: 1px solid var(--qst-btn-color);
    background-color: var(--qst-btn-color);
}

.your-qst {
    color: rgb(114, 114, 114);
    display: inline;
}

.your-qst::after {
    content: '';
    display: block;
    width: 45%;
    height: 2px;
    background-color: var(--borderColor);
    float: left;
}

.your-qst::before {
    margin-top: 20px;
    float: right;
    content: '';
    display: block;
    width: 45%;
    height: 2px;
    background-color: var(--borderColor);
}

#qst-type option {
    padding: 20px !important;
}


#address-requirements h3 {
    font-size: 500;
}

.address-headding {
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 25px;
}

.address-req-para {
    font-weight: normal;
}

.stape-menu {
    padding: 0;
}

.stape-menu .stape-item {
    display: inline-block;
    padding: 0 20px;
    box-shadow: 0 0 0 3px var(--primary-btn);
    /* border: 4px solid var(--primary-btn); */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    margin: 0 10px;
}

.stape-menu .stape-item a {
    color: var(--primary-btn);
}

.stape-menu .stape-item a span {
    font-weight: 700;
}

.stape-active {
    background-color: var(--primary-btn);
}

.stape-active a span {
    color: #fff;
}


#address-requirements h6::after {
    content: "";
    display: block;
    width: 250px;
    height: 3px;
    background: var(--primary-btn);
    margin-top: 10px;
}

#address-requirements h6 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 100px;
}

.type {
    display: block;
}

.type > div {
    margin-top: 10px;
}

.radio {
    display: inline-flex;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

.input__radio {
    display: none;
}

.radio_radio {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #1dbf73;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
}

.radio_radio::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: #1dbf73;
    border-radius: 50%;
    transform: scale(0);
}

.input__radio:checked + .radio_radio::after {
    transform: scale(1);
}

/* ===================== Publiush Page ================*/

.social-media-link {
    margin-top: 30px;
}

.social-menu {
    margin: 0;
    padding: 0;
}

.social-media-link .social-item {
    list-style: none;
    display: inline-block;
}

.social-media-link .social-item a {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    display: block;
    margin: 0 5px;
}

.social-media-link .social-item .facebook {
    background: #3d5999;
    color: #fff;
}

.social-media-link .social-item .twitter {
    background: #55acee;
    color: #fff;
}

.social-media-link .social-item .linkedin {
    background: #0076b2;
    color: #fff;
}

.copy-link {
    cursor: pointer;
}

#your-gig-is-now-live h3 {
    font-size: 35px;
    color: #00668c;
    font-weight: 700;
    margin-top: 20px;
}

.text-section {
    text-transform: uppercase;
}

.text-section .form {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.text-section .learn {
    margin: 0 !important;
}

.dot {
    margin: 0;
    padding: 0;
    color: var(--primary-btn);
}

.text-next-label-para {
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}

.text-next-label {
    padding: 10px 0;
}


/*================= Items Section ================*/

#your-gig-is-now-live .card {
    box-shadow: 0 0 0 1px var(--bg-light);
}

.items-section ul {
    display: flex;
    grid-template-columns: repeat(5, 1 rf);
    grid-column-gap: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.items-section li p {
    font-size: 13px;
    text-transform: capitalize;
    font-weight: normal;
}


.items-section li {
    text-align: center;
}

.items-section li a {
    text-align: center;
}

.items-section li a .icon {
    width: 50px;
    height: 45px;
    background-color: #e5faf3;
    color: var(--primary-btn);
    text-align: center;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin: 10px;
    font-size: 18px;
    margin: 15px auto;
}

.items-section li a {
    width: 100px;
    margin: auto;
}

.items-section li a:hover {
    color: #000;
    font-weight: 600;
}


.content .headding {
    font-weight: 700;
}


.wizards {
    margin-top: 130px;
}

.wizards .box-one {
    text-align: center;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding: 10px 20px;
    margin: auto;
}

.wizards .box-one:last-child {
    margin-top: 20px;
}

.wizards .box-one .text {
    font-size: 13px;
    font-weight: 500;
    color: #677074;
    padding: 20px 0;
    line-height: 1.3;
}

.wizards img {
    width: 60px;
    margin-top: 12px;
}

.wizards .sub-title {
    font-weight: 500;
    font-size: 14px;
    text-align: left;
}

.wizards a {
    font-weight: 500;
    font-size: 14px;
    text-align: left !important;
    display: block;
    color: #00668c;
    padding: 15px 0 20px 0;
}

.wizards .text-box-date {
    background: #f9f4ff;
    border: none !important;
    padding: 15px 10px;
    border-radius: 5px;
}

.wizards .text-box-date p {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #626972;
    font-weight: 600;
}

.wizards .text-box-date h5 {
    color: #262b31;
    font-weight: 700;
}

.wizards-title h6 {
    font-weight: 600;
    font-size: 20px;
    padding: 10px 0 3px 0;
    margin: 0;
}

.wizards-title .sub-hedding {
    color: #a29ca2;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}

.wizards #list {
    margin: 0;
    padding: 0;
    text-align: left;
}

.wizards #list p {
    font-weight: 500;
    font-size: 14px;
}

.wizards #list li {
    list-style: circle;
}

.wizards #list p span {
    color: blue;
}

#content {
    padding: 60px 0;
}

.active {
    color: #000;
    border-bottom: 3px solid #593cfb;
}

.active .nav-link {
    color: #000 !important;
    font-weight: 700;
}

.main-menu {
    padding-bottom: 0;
}


.border-none {
    padding: 0;
}

/*============= Clearners Home Page =============*/

.user-img-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.bg-secondary-light {
    background: #f4f4f4;
}

.earn-card {
    padding: 20px 0;
    box-shadow: 5px 5px 10px 1px #bbbbbb57;
}

.earn-card i {
    font-size: 30px;
    color: #54a887;
}

#Cleaners-homepage .row .col-md-4 .col-md-2 {
    padding: 0 0 0 10px;
}

#Cleaners-homepage .row .col-md-4 .col-md-2 img {
    width: 40px;
}

#Cleaners-homepage .row .col-md-4 h3 {
    padding: 3px 0;
    font-size: 23px;
    font-weight: 600;
}

#Cleaners-homepage .row .col-md-4 .col-md-10 p {
    font-size: 16px;
    font-weight: 500;
}

#Cleaners-homepage .row .col-md-4 a {
    margin-right: 17px;
    color: #4a73e8;
}

#Cleaners-homepage .row .col-md-4 {
    width: 30.333333%;
}


.footer-section .col-md-12 .col-md-6 h2 {
    font-weight: 700;
    font-size: 40px;
}

.footer-section .items p {
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.footer-section .items h4 {
    font-weight: 700;
    font-size: 27px;
}

.footer-section .items .fa-star {
    color: var(--btnPurple);
}

.star-rating-avrg {
    font-weight: 700;
}

.border-padding {
    padding: 30px 0 0 0;
}


/* Review */


.review-list ul li .left span {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.review-list ul li .left {
    flex: none;
    max-width: none;
    margin: 0 10px 0 0;
}

.review-list ul li .left span img {
    border-radius: 50%;
}

.review-list ul li .right h4 {
    font-size: 16px;
    margin: 0;
    display: flex;
}

.review-list ul li .right h4 .gig-rating {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #ffbf00;
}

.review-list ul li .right h4 .gig-rating svg {
    margin: 0 4px 0 0px;
}

.country .country-flag {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin: 0 7px 0 0px;
    border: 1px solid #fff;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.country .country-name {
    color: #95979d;
    font-size: 13px;
    font-weight: 600;
}

.review-list ul li {
    border-bottom: 1px solid #dadbdd;
    padding: 0 0 30px;
    margin: 0 0 30px;
}

.review-list ul li .right {
    flex: auto;
}

.review-list ul li .review-description {
    margin: 20px 0 0;
}

.review-list ul li .review-description p {
    font-size: 14px;
    margin: 0;
}

.review-list ul li .publish {
    font-size: 13px;
    color: #95979d;
}

.review-section h4 {
    font-size: 20px;
    color: #222325;
    font-weight: 700;
}

.review-section .stars-counters tr .stars-filter.fit-button {
    padding: 6px;
    border: none;
    color: #a59eb3;
    text-align: left;
    background: none;
}

.review-section .fit-progressbar-bar .fit-progressbar-background {
    position: relative;
    height: 8px;
    background: #f2f2f2;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-radius: 999px;
}

.review-section .stars-counters tr .star-progress-bar .progress-fill {
    background-color: #ffb33e;
}

.review-section .fit-progressbar-bar .progress-fill {
    background: #2cdd9b;
    background-color: rgb(29, 191, 115);
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 999px;
}

.review-section .fit-progressbar-bar {
    display: flex;
    align-items: center;
}

.review-section .stars-counters td {
    white-space: nowrap;
}

.review-section .stars-counters tr .progress-bar-container {
    width: 100%;
    padding: 0 10px 0 6px;
    margin: auto;
}

.ranking h6 {
    font-weight: 600;
    padding-bottom: 16px;
}

.ranking li {
    display: flex;
    justify-content: space-between;
    color: #95979d;
    padding-bottom: 8px;
}

.review-section .stars-counters td.star-num {
    color: #a59eb3;
    font-size: 12px;
}

.ranking li > span {
    color: #62646a;
    white-space: nowrap;
    margin-left: 12px;
}

.review-section {
    padding-bottom: 24px;
    margin-bottom: 34px;
    padding-top: 64px;
}

.review-section select,
.review-section .select2-container {
    width: 188px !important;
    border-radius: 3px;
}

ul,
ul li {
    list-style: none;
    margin: 0px;
}

.helpful-thumbs,
.helpful-thumb {
    display: flex;
    align-items: center;
    font-weight: 700;
}


.review-section .stars-counters tr .star-progress-bar .progress-fill {
    background-color: var(--btnPurple);
}

.ratings-day {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.text-bould {
    font-weight: 600;
}

.avg-ratings h3 {
    font-weight: 700;
    font-size: 45px;
}

.avg-ratings span {
    font-size: 18px;
    color: var(--btnPurple);
}

sup {
    top: -1.4em;
    font-size: 18px;
    color: rgb(187, 187, 187);
}

.review-list .user-name {
    font-size: 12px;
}

.review-list .response-box .comment-text {
    font-weight: 400;
    font-size: 15px;
}

.review-list .response-box .your-response {
    font-weight: 400;
    font-size: 15px;
    box-shadow: 0 0 0 1px rgb(206, 205, 205);
    background: whitesmoke;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.review-list .response-box .your-response h6 {
    font-size: 18px;
    font-weight: 700;
}

.ml-auto {
    margin-left: auto;
}

.menu-compliments {
    margin: 30px 0 0 0;
    padding: 0;
}

.menu-compliments li {
    display: block;
}

.menu-compliments li h6 {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-light);
}

.menu-compliments li p {
    font-size: 14px;
    font-weight: normal;
    color: var(--text-light);
}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.review-list .row .col-md-9 p {
    padding: 0;
    margin: 7px 0 10px 0;
}

.user-name-date {
    margin: 10px 0 2px 0;
    font-weight: normal;
    font-size: 14px;
}

.review-list .review .col-md-1 {
    width: 11.666667% !important;
}

.review-list .review {
    border-bottom: 1px solid #dadbdd;
    margin: 15px 20px;
}

.review-list .row .fa-star {
    color: var(--btnPurple);
}


/* Tax Form */
#tax-form .para {
    font-weight: normal;
    color: var(--lightBlack);
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

#tax-form .text-bould {
    font-size: 23px;
    font-weight: 700;
    line-height: 1.5;
}

.back-btn {
    color: var(--text-light);
}

#tax-form .section-stap-tax-form ul li {
    margin: 15px 0;
}

.section-stap-tax-form .stape-menu .tax-stape-item {
    margin-right: 50px !important;
}

#tax-form .section-stap ul li:first-child {
    margin-right: 0;
}

#tax-form .section-stap ul li a span {
    width: 35px;
    height: 35px;
    display: inline-block;
    background: var(--primary-btn);
}

.circle {
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    border-radius: 50%;
}


.stape-two {
    background: var(--primary-btn);
    color: #fff;
    border: 3px solid var(--primary-btn);
}

.stape-three {
    border: 3px solid var(--primary-btn);
    color: var(--primary-btn);
}

.stape-one {
    background: #aab8c2;
    color: #fff;
}

.active-stape {
    color: var(--primary-btn) !important;
}

.tax-stape-item {
    color: #b5bdc4;
}

/*================= Tax Form Flug ============*/
.flug .flug-box {
    display: flex;
    color: var(--primary-btn);
}

.flug .flug-box img {
    width: 40px;
    height: 25px !important;
    margin-right: 10px !important;
}

.flug-title {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.2;
    color: var(--text-light);
}

.showcase p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    margin: 0;
    padding: 5px;
}

.showcase h5 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 15px;
}

.showcase .border-bottom-black {
    border-bottom: 2px solid #000;
}

.showcase .border-left-right {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.showcase {
    margin-bottom: 20px;
}

#tax-form .name-title {
    border-bottom: 3px dashed #1d9fbf;
    width: 250px;
    margin-top: 5px;
    padding: 0;
}

#tax-form .name-title p {
    padding: 0;
    margin: 5px 0;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
}

#tax-form .name-title p a {
    text-decoration: underline;
}

#tax-form .description-condition {
    display: flex;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 15px;
}

#tax-form .description-condition .col-md-3 {
    padding: 10px 15px;
}

#tax-form .tax-text-box p {
    margin: 2px 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
}

#tax-form .description-condition .col-md-9 {
    border-right: 2px solid #333;
    padding: 10px 5px;
}

#tax-form .description-condition p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 10px;
}

#tax-form .description-condition .select-box {
    margin: 10px 25px;
}

#tax-form .description-condition label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
}

#tax-form .state-area {
    display: flex;
}

#tax-form .state-area .col-md-8 {
    padding: 20px 20px 10px 0;
    border-right: 2px solid #000;
}

#tax-form .state-area .col-md-4 {
    padding: 20px;
}

#tax-form .state-area label {
    margin-bottom: 10px;
    font-weight: normal;
}

#tax-form .state-area p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
}

#tax-form .state-area {
    border-bottom: 2px solid #000;
}

#tax-form .list-account label {
    padding: 10px 0;
    line-height: 1.8;
    font-weight: 500;
    margin-top: 10px;
    font-size: 14px;
}

.btn-black {
    background: #000;
    color: #fff;
    border-radius: 0;
}

#tax-form .box-part {
    display: flex;
    margin-top: 20px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#tax-form .box-part {
    display: flex;
    justify-content: start;
    justify-items: self-start;
    align-items: center;
}

#tax-form .box-part .big-box p {
    margin: 0 10px !important;
}

.text-bold {
    font-weight: 700 !important;
}

.border-none {
    border-top: 0;
    border-bottom: 0;
}

.font-weight-none {
    font-weight: 500;
}

.certification-menu li {
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
}

#tax-form .border-none {
    border-bottom: 0;
}

#tax-form .cfs-intraductions p {
    font-weight: 500;
    line-height: 1.8;
}

#tax-form .cfs-menu {
    margin-top: 30px;
}

#tax-form .cfs-menu p {
    margin: 10px 0;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1 !important;
}


/** Settings  */
#settings h2 {
    font-weight: 700;
    font-size: 45px;
    margin: 0 0 30px 0;
    padding: 0;
}

#settings .col-md-9 p {
    font-weight: normal;
}


#settings .save_and_check_btn {
    margin-top: 60px;
}

#settings label span {
    color: #787878 !important;
    font-weight: normal;
}

#settings .toggle-group .btn-primary {
    background: var(--btnPurple);
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20rem;
}

.toggle.ios .toggle-handle {
    border-radius: 20rem;
}


#settings .search-ability i {
    font-size: 16px;
    color: var(--lightBlack);
}

.paragraph {
    font-size: 14px;
    color: var(--lightBlack);
    font-weight: normal;
}


/*===========Extra Page============*/


.btn-primary-second {
    background: #1dbf73;
    color: #fff;
}

.btn-primary-second:hover {
    background: #00a157;
    color: #fff;
}

#main-nav .nav-link {
    display: block;
    padding: .5rem 10px;
    color: var(--lightBlack);
}

#main-nav .nav-link:hover {
    display: block;
    padding: .5rem 10px;
    color: #000;
}


#main-nav .user-img-circle {
    margin-right: 20px;
}

#main-nav .user-img-circle span {
    width: 40px;
    height: 40px;
    background: #1dbf73;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    font-size: 25px;
}


#top-menu .group-list {
    border-bottom: 2px solid #0033;
    padding: 3px;
}

#top-menu ul li {
    padding: 0 5px;
}

#top-menu ul li a {
    color: #707070;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 500;
}

#top-menu .group-list li .active {
    border-color: var(--primary-btn);
    color: var(--primary-btn);
}

#top-menu .content-box {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
}

#top-menu .content-box > div {
    padding: 150px 0;
    color: #8e9198;
    font-weight: 500;
}

#top-menu .content-box h3 {
    color: #404145;
    font-weight: 700;
}

#top-menu .content-box .username {
    color: var(--primary-btn);
}

#top-menu .content-box a {
    color: var(--primary-btn);
    font-weight: 700;
}

#top-menu .content-box img {
    width: 120px;
    margin: 20px;
}

#top-menu .order-box h5 {
    padding: 0 0 10px 0;
}

.sidebar-content-box {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
}

#top-menu .sidebar-content-box .in-process {
    padding: 0 6px;
    background: #4a73e8;
    display: inline-block;
    color: #fff;
    font-size: 13px !important;
}

#top-menu .sidebar-content-box .order img {
    width: 30%;
    height: 60px;
    margin-right: 15px;
}

#top-menu .sidebar-content-box .order .order-title p {
    font-size: 13px;
}

#top-menu .sidebar-content-box .order .order-title {
    width: 60%;
}

#top-menu .order-details {
    display: flex;
    /*grid-template-columns: repeat(1fr, 50px);*/
}

#top-menu .order-details .order-details-menu {
    margin: 0;
    padding: 0;
}

#top-menu .order-details .order-details-menu li {
    padding: 3px 0;
    margin: 5px 0;
}

#top-menu .order-details .order-details-menu li a {
    text-transform: capitalize;
}

#top-menu .order-details .order-details-menu h5 div {
    text-align: left;
    display: inline;
}

#top-menu .order-details .order-details-menu .check-circle {
    width: 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    border: 3px solid var(--primary-btn);
    border-radius: 50%;
    color: #fff;
    background: var(--primary-btn);
    margin-right: 10px;
    display: inline-block;
}

#top-menu .order-details .order-details-menu .font-weight-none {
    margin: 10px 0;
}

#top-menu .order-details .order-details-menu .processing {
    background: #fff;
    border: 3px solid var(--primary-btn);
}

#top-menu .order-details .order-details-menu .inactive .qts-icon i {
    font-size: 12px !important;
    color: #62646a !important;
}

#top-menu .order-details .order-details-menu .inactive {
    border: 3px solid #a4a6ab;
    background: #fff;
    color: #fff;
}


#top-menu .sidebar-content-box .related-items li {
    border-right: 0;
    border-left: 0;
    text-align: center;
    align-items: center;
}

#top-menu .sidebar-content-box .related-items img {
    width: 100px;
    height: 80px;
    margin-left: auto;
}

.title-area {
    font-weight: 700 !important;
    color: #4f5054 !important;
    padding: 0 3px !important;
}


#top-menu .notice-board .notice-border {
    margin: 40px 0;
    border: 2px solid #b9c9f7;
    background: #f0f4ff;
    border-radius: 5px;
}

#top-menu .notice-board .notice-border p {
    font-weight: 500;
    padding: 0;
    margin: 5px 0;
    color: #7a7d85;
}

#top-menu #activity-box .name-and-date {
    color: var(--lightBlack);
}

.username {
    color: var(--primary-btn);
}

.name-and-date {
    font-weight: normal;
}

#top-menu .total-price {
    text-align: right;
    color: var(--lightBlack);
}

#top-menu .total-price p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
}

#top-menu .total-price h4 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

#top-menu .order-number {
    color: var(--lightBlack);
    font-weight: normal;
    margin: 0;
    padding: 10px 0;
}

#top-menu .card .row .col-md-6 h6 {
    font-weight: 700;
    color: #555555;
}
#top-menu .card .row .col-md-6 h6 i{
    margin-right: 10px;
}
#top-menu .card .row .col-md-6 h6 span{
    font-size: 12px;
}

.text-whitesmoke{
    color: #868686;
}

#top-menu .order-items{
    padding: 0;
    margin: 0;
}
#top-menu .order-items li{
    display: block;
    font-weight: 500;
}
#top-menu .order-items li i{
    margin-right: 10px;
}

#top-menu .today{
    background: #e0e0e0;
    display: inline-block;
    padding: 3px 15px 3px 40px;
    font-weight: 700;
    border-radius: 0 30px 30px 0;
    margin-top: 30px;
    text-align: right;
    color: #4d4d4d;
}


/*File Input*/

.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 12px;
    color: #000;
}

.file-input__label svg {
    height: 16px;
    margin-right: 4px;
}
